*{
    transition: all ease 0.1s;
}
#myBox{
    box-shadow: inset 3px 3px 5px rgb(194, 224, 235);
}
#myBox:hover{
    cursor: pointer;
}
.colorDiv{
    display: block;
    display: flex;
}
.color1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(80, 90, 90);
    margin-right: 20px;
}
.color2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(63, 9, 77);
    margin-right: 20px;
}
.color3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(59, 40, 18);
    margin-right: 20px;
}

.mainDiv button{
    border : none;
    box-shadow: -3px -3px 5px white,3px 3px 5px white;
    border-radius: 20px;   
}
.aboutDiv{
    box-shadow: -2px -2px 5px rgb(138, 126, 126),4px 4px 5px rgb(138, 126, 126);
    width: 50%;
    
}